/*
.add-data-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: fit-content;
}

.add-data-button .dropdown-mobile-header {
  display: none;
}
*/

.wall-city-logo-center,
.wall-city-logo-left,
.wall-city-logo-right {
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
}

@media (min-width: 769px) {
  /*
  .add-data-button {
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  */

  .wall-city-logo-left {
    margin-left: 1rem;
  }
  .wall-city-logo-right {
    margin-right: 1rem;
    display: inherit;
  }
}

/*
@media (max-width: 768px) {
  .add-data-button {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .add-data-button .dropdown-menu {
    display: inherit;
    text-align: center;
  }
  .add-data-button .dropdown-trigger .button {
    display: none;
  }
  .add-data-button .dropdown-mobile-header {
    display: block;
  }

  .add-data-button,
  .add-data-button .dropdown,
  .add-data-button .dropdown-trigger,
  .add-data-button .dropdown-trigger .button,
  .add-data-button .dropdown-menu,
  .add-data-button .dropdown-menu .dropdown-content {
    width: 100%;
  }
}
*/

.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed !important;
}

.w-100 {
  width: 100%;
}

.has-bg-success-opaque {
  background-color: #48c78e42;
}
.has-bg-danger-opaque {
  background-color: #f1466840;
}
.has-bg-info-opaque {
  background-color: #3e8ed017;
}

.admin-page-user-games-section {
  display: none;
}
.admin-page-user-games-section.is-active {
  display: block;
}

tr.is-selected .has-text-success:not(.icon),
tr.is-selected .has-text-danger:not(.icon) {
  color: white !important;
}

/*
.column {
  min-width: fit-content;
}

@media (min-width: 769px) {
  .column .notification {
    max-width: 448px;
  }
}
*/
