.container .columns {
  margin-right: 0rem;
  margin-left: 0rem;
  max-width: 100vw;
}
.block {
  overflow-x: auto;
  overflow-y: clip;
}
.wall-city-logo-vertical {
  position: fixed;
  left: 0;
  display: none;
}
.wall-city-logo-vertical img {
  max-width: 5rem;
}
.wall-city-logo-horizontal img {
  max-width: 25rem;
  width: 100%;
}

@media (min-width: 769px) {
  .container {
    margin-top: 1.5rem !important;
  }

  .base-wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .wall-city-logo-vertical {
    display: inherit;
  }
  .wall-city-logo-horizontal {
    display: none;
  }
}

.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed !important;
}

.w-100 {
  width: 100%;
}

.has-bg-success-opaque {
  background-color: #48c78e42;
}
.has-bg-danger-opaque {
  background-color: #f1466840;
}
.has-bg-info-opaque {
  background-color: #3e8ed017;
}

.admin-page-user-games-section {
  display: none;
}
.admin-page-user-games-section.is-active {
  display: block;
}

tr.is-selected .has-text-success:not(.icon),
tr.is-selected .has-text-danger:not(.icon) {
  color: white !important;
}
