<!DOCTYPE html>
{{ define "head" }}
  <script src="{{.StaticAssetsUrl}}/static/js/person.js"></script>
{{ end }}
{{ define "body" }}
<div class="container">
  <figure class="wall-city-logo-vertical">
    <a href="../">
      <img src="{{.StaticAssetsUrl}}/static/assets/WallCityLogo_Vertical_White2.png" />
    </a>
  </figure>
  <figure class="wall-city-logo-horizontal has-text-centered is-1by1">
    <a href="../">
      <img src="{{.StaticAssetsUrl}}/static/assets/WallCityLogo_Horizontal_White2.png" />
    </a>
  </figure>
  <div class="columns is-multiline">
    <div class="column">
      <div class="notification is-danger general-error-line margin-top-1" style="display: none;"></div>
      <div class="block">
        <h2 class="has-text-black has-text-weight-medium is-size-2 has-text-centered">{{ .Person.Name }}</h2>
        <h4 class="has-text-info is-size-4 has-text-centered">
          <span class="has-text-grey">Score: </span>
          {{ if (eq .Person.Score -1.0) }} n/a - play a game! {{ else }}{{ mul .Person.Score 1000.0 }}{{ end }}
        </h4>
        <h4 class="is-size-4 has-text-centered">
          <span class="has-text-grey">Record: </span>
          <span class="has-text-success">{{ .Person.Wins }}</span> - 
          <span class="has-text-danger">{{ .Person.Losses }}</span>
        </h4>
        <h4 class="is-size-4 has-text-centered">
          <span class="has-text-grey">Self Reported Games: </span>
          <span>{{ .Person.NumReported }}</span> 
        </h4>
      </div>

      <div class="box">
        <div class="block">
          <h2 class="has-text-black has-text-weight-medium is-size-2 has-text-centered">
            <span class="icon mx-2">
              <i class="fas fa-table-tennis"></i>
            </span>
            Report a new game
          </h2>
        </div>
        <div class="block">
          <div class="box report-game-box">
            <div class="notification is-danger error-line margin-top-1" style="display: none;"></div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Against</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control has-icons-left">
                    <div class="select w-100">
                      <select class="w-100" name="other_person">
                        <option value="">Select an opponent</option>
                        {{ range .AlphSortedPeople }}
                          {{ if ne .Id $.Person.Id }}
                          <option value="{{ .Id }}">{{ .Name }}</option>
                          {{ end }}
                        {{ end }}
                      </select>
                    </div>
                    <div class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Wins</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="number" name="wins" placeholder="Wins" value="0">
                    <span class="icon is-left has-text-success">
                      <i class="fas fa-smile-beam"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Losses</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="number" name="losses" placeholder="Losses" value="0">
                    <span class="icon is-left has-text-danger">
                      <i class="fas fa-sad-cry"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="text" name="person_access_key" placeholder="Your Access Key">
                <span class="icon is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-text-centered">
                <button class="button is-success w-100">
                  Submit 
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="block">
        <h2 class="has-text-black has-text-weight-medium is-size-2 has-text-centered">
          Previously reported games
          
        </h2>
      </div>
      <div class="block px-1">
        <table class="table mx-auto is-fullwidth is-size-5">
          <thead>
            <tr>
              <th>Against</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Date</th>
              <th>Reported By</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Games }}
              <tr>
                <td>
                  {{index $.PersonIdToNameMap .OtherPersonId}}
                </td>

                {{ if gt .Wins .Losses }}
                  <td class="has-text-success">{{.Wins}}</td>
                {{ else }}
                  {{ if gt .Losses .Wins }}
                    <td class="has-text-danger">{{.Wins}}</td>
                  {{ else }}
                    <td>{{.Wins}}</td>
                  {{ end }}
                {{ end }}

                <td>{{.Losses}}</td>
                <td>
                  <script>document.write(new Date({{.Created}} / 1000).toLocaleDateString())</script>
                </td>

                <td class="has-text-grey">
                  {{ if .Reporter }} {{$.Person.Name}}
                  {{ else }} {{index $.PersonIdToNameMap .OtherPersonId}}
                  {{ end }}
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
        {{ if (eq (len .Games) 15) }}
        <h6 class="has-text-centered has-text-grey is-size-6">- only the most recent 15 games are shown -</h6>
        {{ end }}
      </div>
    </div>
  </div>
</div>

  <script>
    setup("{{ .Person.Id }}");
  </script>

{{ end }}
